<!--The content below is only a placeholder and can be replaced.-->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark blue" [containerInside]="false" [iconBackground]="['grey', 'darken-2']">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand">JIRA BOARD</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="minds" mdbWavesEffect>Register Campus Mind</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="tracks" mdbWavesEffect>Add New Track</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="capabilities" mdbWavesEffect>Capabilities List</a>
          </li>
      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
